[Unit]
Description=Gunicorn daemon to serve my Web Server
After=network.target
[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/var/www/webapp/applications/web-server/src/
ExecStart=/bin/sh -c 'cd /var/www/webapp/build && source venv/bin/activate && cd /var/www/webapp/applications/web-server/src && gunicorn --bind 0.0.0.0:8080 app:app'
[Install]
WantedBy=multi-user.target