[Unit]
Description=Gunicorn daemon to serve my flaskapp
After=network.target
[Service]
User=ec2-user
Group=ec2-user
ExecStart=/var/www/webapp/src/gunicorn --bind 0.0.0.0:8080 wsgi:app
[Install]
WantedBy=multi-user.target